.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  margin: 1rem;
  text-align: center;
  font-size: 1.25rem;
}

.subheader {
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  color: #999;
}

.app-container {
  /* text-align: center; */
  /* max-width: 400px;
  margin: 0 auto; */
}

.shaking {
  font-weight: bold;
  animation-name: shaking;
  animation-iteration-count: infinite;
  animation-duration: 0.025s;
}

@keyframes shaking {
  from {
    transform: translateX(1px);
  }

  to {
    transform: translateX(-2px);
  }
}

.button-throw {
  cursor: pointer;
  border-radius: 10rem;
  width: 5rem;
  height: 5rem;
  background: brown;
  border: 5px solid #df9904;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.debug {
  color: #ccc;
}
