.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.app-container {
  /* text-align: center; */
  /* max-width: 400px;
  margin: 0 auto; */
}
